html{
    scroll-behavior: smooth;
}
body{
    background-color:white;
    font-family: 'Merriweather Sans', sans-serif;
    margin:0;
}
footer{
    padding:15px;
    background-color: white;
    color:#ff7b3a;
}
section{
    width:100%;
    display:block;
    text-align:center;
}
#main-nav{
    display: block;
    text-align:center;
    font-size: 1.1rem;
    margin: 0 auto;
}
#main-nav a{
    text-decoration:none;
    color:black;
    margin: 5px 0px;
    display:block;
    width:100%;
    border-bottom: 1px solid #fafafa;
    padding:20px 0px;
}
.logo-wrap{
    margin: 10px 0px;
}
h1{
    font-size: 3.5rem;
    margin:10px 0px;
    font-weight:bold;
}
#header-section{
    min-height:70vh;
}
#header-section .half-container{
    padding:75px 50px;
}
#header-section img{
    width:100%;
}
#about-section{
    background-color: #ff7b3a;
    padding:7% 0%;
    color:white;
}
#contact-section{
    background-color: #ff7b3a;
    padding:7% 0%;
}
.one-third-col, .two-third-col, .one-quarter-col{
    width:100%;
}
.about-container{
    padding:10px;
}
.about-container h2{
    font-size:3rem;
}
.about-container h3{
    font-size:1.8rem;
}
#skills-section img{
    width:25%;
}
#skills-section{
    padding: 50px 0px;
}
#skills-section .one-quarter-col{
    margin: 30px 0px;
}
#skills-section h3{
    font-size: 2rem;
    color:#ff7b3a;
}
.contact-wrapper{
    background-color:white;
    margin:0px 30px;
    padding:20px;
}
#contact-title{
    font-size:2.5rem;
    color:#ff7b3a;
    display:block;
    width:100%;
    margin-bottom:10px;
}
input[type="text"], textarea{
    border-radius:3px;
    background-color: white;
    color:#ff7b3a;
    width: 90%;
    display:block;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 15px;
    margin-bottom:20px;
    font-family: 'Merriweather Sans', sans-serif;
}
textarea{
    resize:none;
}

input[type="text"]:focus , textarea:focus{
    border:1px solid #ff7b3a;
    border-radius:3px;
}

button[type="submit"]{
    background-color:#ff7b3a;
    font-size:1rem;
    color:white;
    padding:15px 25px;
    border:none;
    border-radius:3px;
}
@media only screen and (min-width: 600px) {
    
  }

@media only screen and (min-width: 768px) {
    section{
        max-width:1300px;
        margin:0 auto;
        text-align:left;
    }
    .full-width-section{
        max-width:100%
    }
    #main-nav{
        display: flex;
        padding: 20px 5px;
        justify-items: space-between;
        justify-content: center;
        font-size: 1.1rem;
        max-width: 1500px;
        margin: 0 auto;
        align-items:center;
    }
    #main-nav a{
        text-decoration:none;
        color:black;
        padding:10px 20px;
        transition: ease-in 0.3s;
        width: unset;
        border: 0;
        display:unset;
    }
    #main-nav a:hover{
        color:#ff7b3a;
    }
    #header-section{
        min-height: 80vh;
    }
    #header-section img{
        height:300px;
    }
    .logo-wrap{
        justify-self: left;
    }
    .right-menu{
        margin-left:auto;
    }
    .two-col-content-container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .half-container{
        width:50%;
    }
    .one-third-col{
        width:33%;
        display:flex;
        align-items: center;
    }
    .two-third-col{
        width:66%;
        display:flex;
        align-items: center;
    }
    .one-quarter-col{
        width:25%;
        align-items:center;
        justify-content: center;
    }
    #header-text-container{
        margin-right:auto;
    }
    h1{
        font-size: 3.5rem;
        margin:10px 0px;
        font-weight:bold;
    }
    #about-section{
        background-color: #ff7b3a;
        padding:7% 0%;
        color:white;
    }
    #about-section section{
        display:flex;
    }
    #contact-section{
        background-color: #ff7b3a;
        padding:7% 0%;
    }
    #about-section h2{
        font-size:2.5rem;
    }
    #skills-section{
        display:flex;
        align-items: center;
        padding:7% 0%;
        min-height:250px;
    }
    #skills-section .one-quarter-col{
        text-align:center;
    }
    #skills-section h3{
        font-size:2rem;
        color:#ff7b3a;
    }
    #skills-section img{
        width:50%;
    }
    .contact-wrapper{
        padding: 75px 75px;
        display: flex;
        align-items: center;
    }
    #contact-title{
        font-size:2.5rem;
        color:#ff7b3a;
        display:block;
        width:100%;
        margin-bottom:10px;
    }
    #contact-title section{
        display:flex;
        min-width:1300px; 
        background-color:white;
    }
    p{
        line-height:1.8;
    }
    .hover-grow{
        transition: transform .2s; /* Animation */
    }
    .hover-grow:hover{
        transform: scale(1.1);
    }
    input[type="text"]{
        border-radius:3px;
        background-color: white;
        color:#ff7b3a;
        width: 90%;
        display:block;
        border: 1px solid rgb(212, 212, 212);
        padding: 10px 15px;
        margin-bottom:20px;
    }

    input[type="text"]:focus{
        border:1px solid #ff7b3a;
        border-radius:3px;
    }

    button[type="submit"]{
        background-color:#ff7b3a;
        font-size:1rem;
        color:white;
        padding:15px 25px;
        border:none;
        border-radius:3px;
    }
}